import configimports/*

{
  servers {
  }
  log default {
    format console
    output file /var/log/caddy.log {
      roll_size 1Mib
      roll_uncompressed
      roll_local_time
      roll_keep 1
      roll_keep_for 7d
	  }
  }
  order reverse_proxy before respond
  email bchoii@gmail.com
}

(logging) {
  log {
    format console
    output file /var/log/{args[0]}.log {
      roll_size 1Mib
      roll_uncompressed
      roll_local_time
      roll_keep 1
      roll_keep_for 7d
    }
  }
}

(dev-proxy) {
  @allowed {
    client_ip 132.147.120.42/32 # tampines
  }
  reverse_proxy @allowed {args[0]}
  respond "Unauthorised {client_ip}" 403
}

(app-proxy) {
  @allowed1 {
    # allow the following paths
    path /build/*
    path /assets/*
    path /appointment
    path /appointment/*
    path /kiosk
    path /kiosk/*
    path /csat
    path /csat/*
  }
  @allowed2 {
    # allow the following ips
    client_ip 132.147.120.42/32 # tampines
    client_ip 0.0.0.0/0 # all sites
  }
  reverse_proxy @allowed1 {args[0]}
  reverse_proxy @allowed2 {args[0]}
  respond "Unauthorised {client_ip}" 403
}

whoami.hcl-hackathon.bchoii.com {
  import dev-proxy whoami:80
}

hcl-hackathon.bchoii.com {
  import bots
  import logging webapp
  import app-proxy webapp:3000
  # import app-proxy localhost:5173
}

drive.hcl-hackathon.bchoii.com {
  @allowed {
    client_ip 132.147.120.42 # tampines
  }
  import logging webapp
  reverse_proxy @allowed drive:3000
  respond "Unauthorised {client_ip}" 403
}

echo.hcl-hackathon.bchoii.com {
  import logging webapp
  @allowed not {
    path /
    method POST
    not client_ip 132.147.120.42 # tampines
    not client_ip 54.254.62.31 # hcl-hackathon.bchoii.com
  }
  reverse_proxy @allowed echo:3000
  respond "Unauthorised {client_ip}" 403
}

dozzle.hcl-hackathon.bchoii.com {
  import dev-proxy dozzle:8080
}

pgweb.hcl-hackathon.bchoii.com {
  import dev-proxy pgweb:8081
}

glances.hcl-hackathon.bchoii.com {
  import dev-proxy glances:61208
}

cadvisor.hcl-hackathon.bchoii.com {
  import dev-proxy cadvisor:8080
}

grafana.hcl-hackathon.bchoii.com {
  import dev-proxy grafana:3000
}
