html {
  scrollbar-width: thin;

  /* scroll-behavior: smooth; */

  min-height: 100%;
  display: grid;
}

body {
  display: flex;
  flex-direction: column;
}

.background {
  opacity: 0.1;

  background: url("https://www.hcltech.com/sites/default/files/images/special-pages/home/01/testimonial-bg.webp")
    no-repeat;
  background-size: cover;
  background-position: bottom;

  position: fixed;
  inset-inline: 0;
  bottom: 0;
  height: 100lvh;
  z-index: -1;
}
